h1 {
  text-align: center;
}
h2 {
  color: lightblue;
}
body {
  background-image: linear-gradient(red, yellow);
}
#special-heading {
  background-color: red;
  border-radius:20px;
}
.heading-group {
  border: 2px yellow;
  background-color: green;
}
p {
  font-family: helvetica;
  font-size: 20px;
}
